<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <center><header> <h1> Saai sanjay swaminathan <br> 1001539258</h1> </header>
<table border = 2>
         <thead>
            <td>latitude</td>
            <td>longitude</td>
         </thead>
    <center> <h2>Coordinates of Cluster Centers </h2></center>
    <h2> <a href = "/">Home</a> </h2>

     {% for rows in data %}
            <tr>

                     <td>{{rows[0]}}</td>
                     <td>{{rows[1]}}</td>

            </tr>
    {% endfor %}

      </table>
</body>
</html>
